---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/me.jpg"
>
	<p>
		I’m DM Wasem, and I’ve been a “Forever DM” for almost seven years now—wow, that’s a long time, haha! I’m in my early 30s and absolutely love telling stories with friends.
	</p>

	<p>
	My first taste of Dungeons & Dragons came about seven years ago, back when I was working for a lawn care company. One day, a coworker asked if I wanted to join a workplace D&D campaign, describing it as “like World of Warcraft, but on a table with pen and paper.” Being the avid gamer I was, I instantly said yes and rolled up my very first character—a Firbolg War Cleric.
	</p>

	<p>
We played one session, and I was instantly hooked. Unfortunately, before we could get to session two, the coworker running the game left the company, and the campaign fizzled out. But I wasn’t ready to let it end there. I hopped online, searched for ways to keep playing, and stumbled across some random Reddit posts. None of them felt quite right—so I decided to start my own group instead.
	</p>

	<p>
And now, here we are: seven years later, a wealth of experience and countless games under my belt, still running campaigns and loving every minute of it.
	</p>

</Layout>
